* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Cormorant Garamond', serif;
  overflow: hidden;
}

.fase1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #e0cf15, #e7f03b);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at top, rgba(255, 255, 255, 0.566), transparent 60%);
}

.content {
  max-width: 80%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.459);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  text-align: center;
  z-index: 2;
}

.content p {
  color: #c97611;
  font-size: 1.3rem;
  line-height: 1.9;
  font-style: italic;
  margin-bottom: 30px;
}

button {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.778);
  color: #c87012;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s, transform 0.3s;
}

button:hover {
  transform: scale(1.1);
}

 @media screen and (max-width: 600px) {
    h1 {
      font-size: 1.8em;
    }
  
    p {
      font-size: 1em;
    }
  
    .balao {
      width: 80px;
      height: 110px;
      font-size: 0.8em;
    }
  }
  